<!DOCTYPE html>
<html ng-app="StarWarsApp">
<head>
  <title>Angular Services</title>
  <!-- Latest compiled and minified CSS & JS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="services.js"></script>
  <script src="factories.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="FilmsCtrl" class="text-center">
  <div ng-show="loading" class="loader">Loading...</div>
  <div ng-hide="loading">
    <button class="btn btn-danger" ng-click="showAll()">Show All</button>
    <div class="well" ng-repeat="film in films | orderBy: 'episode_id'" ng-click="showMovie(film.url)">
      <h2>{{film.title}} - <small>{{film.episode_id}}</small></h2>
      <p>{{film.opening_crawl}}</p>
    </div>
  </div>
</body>
</html>